* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  width: 100vw;
  height: 100vh;
}

navbar {
  background-image: linear-gradient(#ee5253, #d92223);
  width: 100vw;
  height: 4.87rem;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  text-align: center;
  position: relative;
}

navbar > h1 {
  color: white;
  font-size: 30px;
  font-weight: 700;
  margin-left: 1.68rem;
  margin-top: 1.43rem;
  margin-bottom: 1.37rem;
}

a > img {
  width: 32px;
  height: 32px;
}

.icons {
  display: inline-flex;
  list-style: none;
  gap: 1.25rem;
  margin-right: 27px;
}

.icons > li > a:hover {
  color: #ee5253;
  top: -4px;
  filter: drop-shadow(0 2px 2px #5f0303);
  transition: 0.2s ease;
}

.pc {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url(./img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 91vh;
}

.pc-text {
  position: absolute;
  top: 18.25rem;
  margin-left: 59px;
}

.pc-text > p {
  color: white;
  font-size: 30px;
  font-weight: 400;
}

.pc-text > h1 {
  color: white;
  font-size: 80px;
  font-weight: 700;
  width: 55%;
}

.btn-meeting-red {
  margin-top: 2.56rem;
  margin-left: 0.8rem;
  color: white;
  font-size: 22px;
  font-weight: 400;
  background-color: #ee5253;
  width: 290px;
  height: 60px;
  border-radius: 8px;
  border-style: none;
  transition: 0.2s ease;
}

.btn-meeting-red:hover {
  cursor: pointer;
  background-color: #d92223;
  opacity: 0.8;
}

.btn-meeting-red:active {
  cursor: pointer;
  background-color: #d92223;
  opacity: 0.5;
}

.thinking-man {
  display: flex;
}

.thinking-man-img {
  margin-top: 2.5625rem;
  margin-right: 13.56rem;
  margin-left: 4.75rem;
  position: relative;
}

.thinking-man-text > span {
  display: inline-block;
}

.thinking-man-text {
  margin-top: 5.37rem;
  margin-left: 14.68rem;
  display: flex;
  flex-direction: column;
}

.iniciativa {
  color: #333333;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 2.56rem;
}

.dev {
  color: #333333;
  font-size: 22px;
  font-weight: 400;
  width: 80%;
}

.rectangle {
  position: absolute;
  margin-top: -6.87rem;
  z-index: 1;
}

.rectangle > img {
  width: 100vw;
  object-fit: cover;
}

.form {
  margin-top: 4.43rem;
  margin-left: 14.56rem;
  width: 100vw;
}

.form > h2 {
  color: #333333;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 1.31rem;
}

.form > p {
  color: #333333;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 3.68rem;
}

.inputs {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr;
  align-items: end;
  justify-items: start;
  width: 100vw;
}

.label-name {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  margin-right: 1.37rem;
}

.label-wpp {
  grid-column: 2 / 2;
  grid-row: 1 / 1;
  margin-right: 1.31rem;
}

.btn-green {
  grid-column: 3 / 3;
  grid-row: 1 / 1;
  margin-right: 59.62rem;
}

label {
  font-size: 14px;
  font-weight: 700;
}

input {
  margin-top: 1px;
  padding: 5px;
}

#name,
#whatsapp {
  width: 21.125rem;
  height: 3.75rem;
  border: solid 1px #cdcdcd;
  border-radius: 8px;
}

.btn-meeting-green {
  color: white;
  font-size: 22px;
  font-weight: 400;
  background-color: #10ac84;
  width: 19rem;
  height: 4.5rem;
  border-radius: 8px;
  border-style: none;
  transition: 0.2s ease;
}

.btn-meeting-green:hover {
  cursor: pointer;
  background-color: #13725a;
  opacity: 0.8;
}

.btn-meeting-green:active {
  cursor: pointer;
  background-color: #13725a;
  opacity: 0.5;
}

.name-error {
  margin-top: 0.5rem;
  color: #ff0505;
  font-weight: 700;
}

footer {
  background-color: #eaeaea;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  height: 90px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 6.93rem;
  object-fit: cover;
}

footer > p {
  margin-top: 0.5rem;
}

@media screen and (max-width: 800px) {
  main {
    display: flex;
    flex-direction: column;
  }

  .pc-text {
    top: 20rem;
  }

  .pc-text > p {
    font-size: 30px;
  }

  .pc-text > h1 {
    font-size: 65px;
    width: 85%;
  }

  .btn-meeting-red {
    font-size: 20px;
    width: 270px;
    height: 55px;
  }

  .menu-icon {
    background-color: #ffffff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 1rem;
  }

  .hamburguer {
    display: block;
    background-color: #000000;
    width: 25px;
    height: 2px;
    position: relative;
    top: 19px;
    left: 8px;
    transition: 0.5s ease-in-out;
  }

  .hamburguer:before,
  .hamburguer:after {
    display: block;
    background-color: #000000;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s ease-in-out;
  }

  .hamburguer:before {
    top: -8px;
  }

  .hamburguer:after {
    bottom: -8px;
  }

  .icons {
    display: none;
  }

  .nav.active {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav.active .icons {
    display: flex;
  }

  .nav.active .hamburguer {
    transform: rotate(45deg);
  }

  .nav.active .hamburguer:before {
    top: 0px;
    transform: rotate(90deg);
  }

  .nav.active .hamburguer:after {
    bottom: 0px;
    transform: rotate(90deg);
  }

  .thinking-man {
    margin-left: 0;
    margin-right: 0;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
  }

  .thinking-man-text {
    margin-left: 0;
    margin-right: 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
  }

  .thinking-man-img {
    margin-top: 3rem;
    margin-right: 0;
    margin-left: 0;
    width: 80%;
    height: 80%;
    position: relative;
  }

  .iniciativa {
    font-size: 40px;
  }

  .dev {
    font-size: 20px;
    width: 90%;
  }

  .rectangle {
    position: absolute;
    margin-top: 91.3rem;
    z-index: 1;
  }

  .rectangle > img {
    width: 100%;
    height: 90px;
  }

  .form {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .form > h2 {
    font-size: 40px;
    text-align: center;
  }

  .form > p {
    font-size: 20px;
    text-align: center;
  }

  .inputs {
    margin-left: 0.5rem;
    width: 95vw;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    gap: 1rem;
  }

  .label-name {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }

  .label-wpp {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
  }

  .btn-green {
    margin-left: 1.5rem;
    grid-column: 1 / 1;
    grid-row: 3 / 3;
    font-size: 18px;
    width: 270px;
    height: 55px;
  }
}

@media screen and (max-width: 440px) {
  navbar > h1 {
    margin-left: 1.2rem;
    font-size: 25px;
  }

  a > img {
    width: 25px;
    height: 25px;
  }

  .pc-text {
    margin-left: 20px;
  }

  .pc-text > p {
    font-size: 20px;
  }

  .pc-text > h1 {
    font-size: 35px;
    width: 95%;
  }

  .btn-meeting-red {
    font-size: 18px;
    width: 240px;
    height: 50px;
  }
}

@media screen and (max-width: 330px) {
  navbar > h1 {
    margin-left: 1.2rem;
    font-size: 20px;
  }

  a > img {
    width: 20px;
    height: 20px;
  }

  .icons {
    margin-right: 15px;
  }

  .pc-text {
    margin-left: 15px;
  }

  .pc-text > p {
    font-size: 15px;
  }

  .pc-text > h1 {
    font-size: 28px;
    width: 85%;
  }

  .btn-meeting-red {
    font-size: 15px;
    width: 200px;
    height: 45px;
  }

  .iniciativa {
    font-size: 35px;
  }

  .dev {
    font-size: 18px;
  }

  .form > h2 {
    font-size: 35px;
  }

  .form > p {
    font-size: 18px;
  }

  .inputs {
    margin-left: 0;
  }
}
